{"$schema": "./config.schema.json", "baseRef": "main", "changelogDir": ".changelog", "outputPath": "CHANGELOG.md", "commentPr": true, "dryRun": false, "plugins": ["emoji-prefix", "category-group", "markdown-bold"], "fileWriteMode": "overwrite", "createTags": true, "createRelease": true", "afterRelease": [], "prChangelog": {"packagesDir": "packages", "rootTag": "root", "packageMap": {}}}